<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet"
    />

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">


<!--    <link-->
<!--            rel="stylesheet"-->
<!--            href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"-->
<!--    />-->

    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"
    ></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- Compiled and minified JavaScript -->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
    <script src="js.index/dashboard.js"></script>
    <script src="js.index/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

    <style>

        h3 {
            font-size: 2rem !important;
        }
        #toalCasesCard {
            background-color: rgb(97, 79, 79);
            color: bisque;
        }
        #toalCuredCard {
            background-color: rgb(108, 184, 73);
            color: bisque;
        }
        #toalDeathCard {
            background-color: rgb(129, 28, 28);
            color: bisque;
        }
        .sidenav{
            background-color: black;
            color: #fff;;
        }

    </style>
</head>
<body>

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
    <li><a data-toggle="tab" href="#menu1">India DashBoard</a></li>
    <li><a data-toggle="tab" href="#menu2">MachineLearning Prediction</a></li>
    <li><a data-toggle="tab" href="#menu3">Menu 3</a></li>
</ul>

<div class="tab-content">
    <div id="home" class="tab-pane fade in active">
        <h3>HOME</h3>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-8">
                    <select class="form-control"></select>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-header">
                            Quote
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                            </blockquote>
                        </div>
                    </div>
                    <div class="card" id="toalCasesCard">
                        <div class="card-title">Total Cases</div>
                        <h3 id="totalCasesData"></h3>
                    </div>


                    <div class="card" id="toalCuredCard">
                        <div class="card-title">Total Cured</div>
                        <h3 id="totalCuredData"></h3>
                    </div>

                    <div class="card" id="toalDeathCard">
                        <div class="card-title">Total Death</div>
                        <h3 id="totalDeathData"></h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <canvas id="totalCases" width="600" height="400"></canvas>
                </div>
                <div class="col-sm-12 col-md-4">
                    <canvas id="totalCured" width="600" height="400"></canvas>
                </div>
                <div class="col-sm-12 col-md-4">
                    <canvas id="totalDeath" width="600" height="400"></canvas>
                </div>
            </div>

        </div>
    </div>


    <div id="menu1" class="tab-pane fade">
        <h3>Menu 1</h3>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div id="menu2" class="tab-pane fade">
        <h3>Menu 2</h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
    </div>
    <div id="menu3" class="tab-pane fade">
        <h3>Menu 3</h3>
        <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
</div>









<script>

</script>
</body>
</html>
